<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>

<body>
<form th:fragment="content" th:action="@{/authUser}" method="post">
    <div class="login-form">
        <label class="form-lbl">Имя пользователя</label>
        <input type="text" class="txt-control" name="username">

        <label class="form-lbl">Пароль</label>
        <input type="password" class="pwd-control" name="password">

        <div>
            <label class="form-lbl">
                <input type="checkbox" class="chk-control" name="remember">
                Запомнить меня
            </label>
        </div>

        <button type="submit" class="btn-control btn-login">Войти</button>
        <a class="btn-link" href="#">Забыли пароль?</a>
    </div>
</form>
</body>

</html>