<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fontawesome-all.min.css">
    <link rel="stylesheet" href="css/bootadmin.min.css">

    <title>BootAdmin</title>
</head>
<body class="bg-light">

<nav class="navbar navbar-expand navbar-dark bg-primary">
    <a class="sidebar-toggle mr-3" href="#"><i class="fa fa-bars"></i></a>
    <a class="navbar-brand" href="#">BootAdmin</a>

    <div class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-envelope"></i> 5</a></li>
            <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-bell"></i> 3</a></li>
            <li class="nav-item dropdown">
                <a href="#" id="dd_user" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Doe</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd_user">
                    <a href="#" class="dropdown-item">Profile</a>
                    <a href="#" class="dropdown-item">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="d-flex">
    <div class="sidebar sidebar-dark bg-dark">
        <ul class="list-unstyled">
            <li><a href="/admin/product"><i class="fa fa-fw fa-link"></i> Продукты</a></li>
            <li><a href="/admin/categories"><i class="fa fa-fw fa-link"></i> Категории</a></li>
            <li>
                <a href="#sm_expand_1" data-toggle="collapse">
                    <i class="fa fa-fw fa-link"></i> Expandable Menu Item
                </a>
                <ul id="sm_expand_1" class="list-unstyled collapse">
                    <li><a href="#">Submenu Item</a></li>
                    <li><a href="#">Submenu Item</a></li>
                </ul>
            </li>
            <li><a href="#"><i class="fa fa-fw fa-link"></i> Menu Item</a></li>
            <li><a href="#"><i class="fa fa-fw fa-link"></i> Menu Item</a></li>
            <li><a href="#"><i class="fa fa-fw fa-link"></i> Menu Item</a></li>
        </ul>
    </div>


    <!--    <nav th:replace="fragments/head.html :: navbar ('Products')"/>-->



    <div class="container">
        <div class="row py-2">
            <div class="col-12">
                <a class="btn btn-primary" th:href="@{/categories/new}">Add Category</a>
            </div>

            <form class="form-inline mt-3" method="get">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="name-filter" class="sr-only">Name filter:</label>
                    <input th:value="${param.nameFilter}" type="text" class="form-control"
                           name="nameFilter" id="name-filter" placeholder="Name filter">
                </div>

                <button type="submit" class="btn btn-primary mb-2">Apply</button>
            </form>

            <div class="col-12">
                <table class="table table-bordered my-2">
                    <thead>
                    <tr>
                        <th scope="col" >Id</th>
                        <th scope="col" >Name</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--                    <tr th:if="${product.hasContent()}" th:each="product : ${product}">-->
                    <tr th:each="category : ${categories}">
                        <th scope="row" th:text="${category.id}">1</th>
                        <td th:text="${category.name}">Category</td>


<!--                        <td>-->
<!--                            <a class="btn btn-success" th:href="@{/category/{id}(id = ${category.id})}">-->
<!--                                <i class="fas fa-edit"></i>-->
<!--                            </a>-->
<!--                            <form class="d-inline" th:method="delete" th:action="@{/category/{id}(id = ${category.id})}">-->
<!--                                <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>-->
<!--                            </form>-->
<!--                        </td>-->
                    </tr>

                    <!--                    <tr th:unless="${products.hasContent()}">-->
                    <!--                        <td colspan="5">No data</td>-->
                    <!--                    </tr>-->
                    </tbody>
                </table>
            </div>

            <!--            <div th:if="${product.hasContent()}" class="col-12">-->
            <!--                <nav aria-label="Page navigation example">-->
            <!--                    <ul class="pagination">-->
            <!--                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>-->

            <!--                        <li th:each="num: ${#numbers.sequence(1, products.totalPages)}"-->
            <!--                            th:classappend="${num == products.number + 1} ? 'active'"-->
            <!--                            class="page-item">-->
            <!--                            <a class="page-link" th:href="@{/product(page=${num}, size=${products.size},-->
            <!--                        nameFilter=${param.nameFilter}, minPrice=${param.minPrice}, maxPrice=${param.maxPrice},-->
            <!--                        sortField=${param.sortField}, sortOrder=${param.sortOrder})}">[[${num}]]</a>-->
            <!--                        </li>-->

            <!--                        <li class="page-item"><a class="page-link" href="#">Next</a></li>-->
            <!--                    </ul>-->
            <!--                </nav>-->
            <!--            </div>-->
        </div>
    </div>


    <!--        <div class="card mb-4">-->
    <!--            <div class="card-body">-->
    <!--                This is a blank page you can use as a starting point.-->
    <!--            </div>-->
    <!--        </div>-->
</div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/bootadmin.min.js"></script>

</body>
</html>